@media only screen and (min-width: 768px){
    article{
        width: 350px;
    }
}

.input-group{
    margin-bottom: 20px;
}

.input-group textarea,
.input-group input,
.input-group select{
    padding: 10px;
    border: solid 1px #999;
    border-radius: 2px;
    width: 100%;
}

label{
    font-weight:600;
}

input[type="reset"]{
    background: transparent;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
}

input[type="submit"]{
    border-radius: 3px;
    border: solid 1px #ecdede;
    padding: 10px;
}